# APP
URL=
PORT=
FRONTEND_URL=


# DB
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=Ticksy

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION_MS=604800000